.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #fff;
  transition: opacity .3s ease-in;
}

.footer__link:hover {
  opacity: .8;
}
