.places__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 80px;
}

@media screen and (max-width: 1023px) {
  .places__container {
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__container {
    row-gap: 50px;
  }
}
