.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding-left: 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    align-self: center;
    max-width: calc(100% - 48px);
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(100% - 32px);
  }
}
